Schema/V2/no.ks.fiks.arkiv.v2.innsyn.sok.resultat.utvidet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sokeresultat/utvidet/v2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sokeresultat/utvidet/v2"
           xmlns:arkivstruktur="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/v2"
           elementFormDefault="qualified">
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/v2"
               schemaLocation="arkivstruktur.xsd"/>

    <xs:annotation>
        <xs:documentation>
            This is connected to the 'no.ks.fiks.arkiv.v2.innsyn.sok.resultat.utvidet' message.
            Use this messagetype for response to the search-message 'no.ks.fiks.arkiv.v2.innsyn.sok' where the request was with 'responsetype' = 'utvidet'.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="sokeresultat" type="sokeresultat"/>

    <xs:complexType name="sokeresultat">
        <xs:sequence>
            <xs:element name="system" type="xs:string"/>
            <xs:element name="take" type="xs:int"/>
            <xs:element name="skip" type="xs:int"/>
            <xs:element name="count" type="xs:int"/>
            <xs:element name="resultattype" type="resultatType"/>
            <xs:element name="resultatListe" type="resultatListe"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="resultatType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe"/>
            <xs:enumeration value="saksmappe"/>
            <xs:enumeration value="registrering"/>
            <xs:enumeration value="journalpost"/>
            <xs:enumeration value="journalpostMedSaksmappe"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="resultatListe">
        <xs:sequence>
            <xs:element name="resultat" type="resultat" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="resultat">
        <xs:choice>
            <xs:element name="mappe" type="arkivstruktur:mappe"/>
            <xs:element name="saksmappe" type="arkivstruktur:saksmappe"/>
            <xs:element name="registrering" type="arkivstruktur:registrering"/>
            <xs:element name="journalpost" type="arkivstruktur:journalpost"/>
            <xs:element name="journalpostMedSaksmappe" type="arkivstruktur:journalpostMedSaksmappe"/>
            <xs:element name="dokumentbeskrivelse" type="arkivstruktur:dokumentbeskrivelse"/>
        </xs:choice>
    </xs:complexType>

</xs:schema>

