Schema/V2/no.ks.fiks.arkiv.v2.innsyn.sok.resultat.minimum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sokeresultat/minimum/v2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sokeresultat/minimum/v2"
           xmlns:arkivstruktur="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/minimum/v2" elementFormDefault="qualified">
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/minimum/v2" schemaLocation="arkivstrukturMinimum.xsd"/>

    <xs:annotation>
        <xs:documentation>
            This is connected to the 'no.ks.fiks.arkiv.v1.innsyn.sok.resultat.minimum' message.
            Use this messagetype for response to the search-message 'no.ks.fiks.arkiv.v1.innsyn.sok' where the request was with 'responsetype' = 'minimum'.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="sokeresultatMinimum" type="sokeresultatMinimum"/>

    <xs:complexType name="sokeresultatMinimum">
        <xs:sequence>
            <xs:element name="system" type="xs:string"/>
            <xs:element name="take" type="xs:int"/>
            <xs:element name="skip" type="xs:int"/>
            <xs:element name="count" type="xs:int"/>
            <xs:element name="resultattype" type="resultatTypeMinimum"/>
            <xs:element name="resultatListe" type="resultatListeMinimum"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="resultatTypeMinimum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe"/>
            <xs:enumeration value="saksmappe"/>
            <xs:enumeration value="registrering"/>
            <xs:enumeration value="journalpost"/>
            <xs:enumeration value="journalpostMedSaksmappe"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="resultatListeMinimum">
        <xs:sequence>
            <xs:element name="resultatMinimum" type="resultatMinimum" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="resultatMinimum">
        <xs:choice>
            <xs:element name="mappe" type="arkivstruktur:mappeMinimum"/>
            <xs:element name="saksmappe" type="arkivstruktur:saksmappeMinimum"/>
            <xs:element name="registrering" type="arkivstruktur:registreringMinimum"/>
            <xs:element name="journalpost" type="arkivstruktur:journalpostMinimum"/>
            <xs:element name="journalpostMedSaksmappe" type="arkivstruktur:journalpostMedSaksmappeMinimum"/>
            <xs:element name="dokumentbeskrivelse" type="arkivstruktur:dokumentbeskrivelseMinimum"/>
        </xs:choice>
    </xs:complexType>

</xs:schema>

