Schema/V2/no.ks.fiks.arkiv.v2.arkivering.arkivmelding.opprett.kvittering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/opprett/kvittering/v2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:n5mdk="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/metadatakatalog/v2"
           xmlns:feilmelding="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/feil/feilmelding/v2"
           targetNamespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/opprett/kvittering/v2"
           elementFormDefault="qualified">
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/metadatakatalog/v2" schemaLocation="./metadatakatalog.xsd"/>
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/feil/feilmelding/v2" schemaLocation="./feilmeldingBase.xsd"/>
    
    <xs:annotation>
        <xs:documentation>
            This is connected to the 'no.ks.fiks.arkiv.v2.arkivering.arkivmelding.opprett.kvittering' message. 
            Use this messagetype for response to the create message 'no.ks.fiks.arkiv.v2.arkivering.arkivmelding.opprett'.
        </xs:documentation>
    </xs:annotation>
    
    <xs:element name="arkivmeldingKvittering" type="arkivmeldingKvittering"/>

    <xs:complexType name="arkivmeldingKvittering">
        <xs:sequence>
            <xs:choice>
                <xs:element name="mappeKvittering" type="mappeKvittering" minOccurs="0" />
                <xs:element name="mappeFeilet" type="feilmelding:feilmeldingBase" minOccurs="0" />
            </xs:choice>
            <xs:choice>
                <xs:element name="registreringKvittering" type="registreringKvittering" minOccurs="0" />
                <xs:element name="registreringFeilet" type="feilmelding:feilmeldingBase" minOccurs="0" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mappeKvittering">
        <xs:sequence>
            <xs:element name="systemID" type="n5mdk:systemID"/>
            <xs:element name="mappeID" type="n5mdk:mappeID" minOccurs="0"/>
            <xs:element name="referanseForeldermappe" type="n5mdk:referanseTilMappe" minOccurs="0"/>
            <xs:element name="opprettetDato" type="n5mdk:opprettetDato" minOccurs="0"/>
            <xs:element name="opprettetAv" type="n5mdk:opprettetAv" minOccurs="0"/>
            <xs:element name="avsluttetDato" type="n5mdk:avsluttetDato" minOccurs="0"/>
            <xs:element name="avsluttetAv" type="n5mdk:avsluttetAv" minOccurs="0"/>
            <xs:element name="referanseEksternNoekkel" type="n5mdk:eksternNoekkel" minOccurs="0"/>
            <xs:element name="opprettetEllerEksisterende" type="opprettetEllerEksisterende" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="saksmappeKvittering">
        <xs:complexContent>
            <xs:extension base="mappeKvittering">
                <xs:sequence>
                    <xs:element name="saksaar" type="n5mdk:saksaar" minOccurs="0"/>
                    <xs:element name="sakssekvensnummer" type="n5mdk:sakssekvensnummer" minOccurs="0"/>
                    <xs:element name="saksdato" type="n5mdk:saksdato" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="registreringKvittering">
        <xs:sequence>
            <xs:element name="systemID" type="n5mdk:systemID"/>
            <xs:element name="opprettetDato" type="n5mdk:opprettetDato" minOccurs="0"/>
            <xs:element name="opprettetAv" type="n5mdk:opprettetAv" minOccurs="0"/>
            <xs:element name="arkivertDato" type="n5mdk:arkivertDato" minOccurs="0"/>
            <xs:element name="arkivertAv" type="n5mdk:arkivertAv" minOccurs="0"/>
            <xs:element name="dokumentbeskrivelseKvittering" type="dokumentbeskrivelseKvittering" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="registreringsID" type="n5mdk:registreringsID" minOccurs="0"/>
            <xs:element name="referanseEksternNoekkel" type="n5mdk:eksternNoekkel" minOccurs="0"/>
            <xs:element name="opprettetEllerEksisterende" type="opprettetEllerEksisterende" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="journalpostKvittering">
        <xs:complexContent>
            <xs:extension base="registreringKvittering">
                <xs:sequence>
                    <xs:element name="journalaar" type="n5mdk:journalaar" minOccurs="0"/>
                    <xs:element name="journalsekvensnummer" type="n5mdk:journalsekvensnummer" minOccurs="0"/>
                    <xs:element name="journalpostnummer" type="n5mdk:journalpostnummer" minOccurs="0"/>
                    <xs:element name="journalposttype" type="n5mdk:journalposttype" minOccurs="0"/>
                    <xs:element name="journalstatus" type="n5mdk:journalstatus" minOccurs="0"/>
                    <xs:element name="journaldato" type="n5mdk:journaldato" minOccurs="0"/>
                    <xs:element name="forfallsdato" type="n5mdk:forfallsdato" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dokumentbeskrivelseKvittering">
        <xs:sequence>
            <xs:element name="systemID" type="n5mdk:systemID"/>
            <xs:element name="opprettetDato" type="n5mdk:opprettetDato" minOccurs="0"/>
            <xs:element name="opprettetAv" type="n5mdk:opprettetAv" minOccurs="0"/>
            <xs:element name="dokumentnummer" type="n5mdk:dokumentnummer" minOccurs="0"/>
            <xs:element name="dokumentobjekt" type="dokumentobjektKvittering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="referanseEksternNoekkel" type="n5mdk:eksternNoekkel" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dokumentobjektKvittering">
        <xs:sequence>
            <xs:element name="systemID" type="n5mdk:systemID"/>
            <xs:element name="versjonsnummer" type="n5mdk:versjonsnummer" minOccurs="0"/>
            <xs:element name="variantformat" type="n5mdk:variantformat" minOccurs="0"/>
            <xs:element name="opprettetDato" type="n5mdk:opprettetDato" minOccurs="0"/>
            <xs:element name="opprettetAv" type="n5mdk:opprettetAv" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="opprettetEllerEksisterende" final="restriction" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="Opprettet" />
            <xs:enumeration value="Eksisterende" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
