Schema/V2/no.ks.fiks.arkiv.v2.innsyn.sok.resultat.noekler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sokeresultat/noekler/v2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sokeresultat/noekler/v1"
           xmlns:arkivstruktur="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/noekler/v1" elementFormDefault="qualified">
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/noekler/v1" schemaLocation="arkivstrukturNoekler.xsd"/>

    <xs:annotation>
        <xs:documentation>
            This is connected to the 'no.ks.fiks.arkiv.v1.innsyn.sok.resultat.noekler' message.
            Use this messagetype for response to the search-message 'no.ks.fiks.arkiv.v1.innsyn.sok' where the request was with 'responsetype' = 'noekler'.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="sokeresultatNoekler" type="sokeresultatNoekler"/>
    
    <xs:complexType name="sokeresultatNoekler">
        <xs:sequence>
            <xs:element name="system" type="xs:string"/>
            <xs:element name="take" type="xs:int"/>
            <xs:element name="skip" type="xs:int"/>
            <xs:element name="count" type="xs:int"/>
            <xs:element name="resultattype" type="resultatTypeNoekler"/>
            <xs:element name="resultatListe" type="resultatListeNoekler"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="resultatTypeNoekler">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe"/>
            <xs:enumeration value="saksmappe"/>
            <xs:enumeration value="registrering"/>
            <xs:enumeration value="journalpost"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="resultatListeNoekler">
        <xs:sequence>
            <xs:element name="resultatNoekler" type="resultatNoekler" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="resultatNoekler">
        <xs:choice>
            <xs:element name="mappe" type="arkivstruktur:mappeNoekler"/>
            <xs:element name="saksmappe" type="arkivstruktur:saksmappeNoekler"/>
            <xs:element name="registrering" type="arkivstruktur:registreringNoekler"/>
            <xs:element name="journalpost" type="arkivstruktur:journalpostNoekler"/>
            <xs:element name="dokumentbeskrivelse" type="arkivstruktur:dokumentbeskrivelseNoekler"/>
        </xs:choice>
    </xs:complexType>

</xs:schema>

