Schema/V1/arkivmelding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.arkivverket.no/standarder/noark5/arkivmelding/v2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:n5mdk="http://www.arkivverket.no/standarder/noark5/metadatakatalog/v2"
           xmlns:arkivstruktur="http://www.arkivverket.no/standarder/noark5/arkivstruktur"
           targetNamespace="http://www.arkivverket.no/standarder/noark5/arkivmelding/v2"
           elementFormDefault="qualified">
    <xs:import namespace="http://www.arkivverket.no/standarder/noark5/metadatakatalog/v2"
               schemaLocation="./metadatakatalog.xsd"/>
    <xs:import namespace="http://www.arkivverket.no/standarder/noark5/arkivstruktur"
               schemaLocation="./arkivstruktur.xsd"/>

    <xs:element name="arkivmelding" type="arkivmelding"/>

    <!-- TODO: fix mixed value, <xs:complexType name="arkivmelding" mixed="true">-->
    <xs:complexType name="arkivmelding">
        <xs:sequence>
            <xs:element name="system" type="xs:string"/>
            <xs:element name="meldingId" type="xs:string"/>
            <xs:element name="tidspunkt" type="xs:dateTime"/>
            <xs:element name="antallFiler" type="xs:int"/>
            <xs:choice>
                <xs:element name="mappe" type="arkivstruktur:mappe" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="registrering" type="registrering" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="saksmappe">
        <xs:complexContent>
            <xs:extension base="arkivstruktur:saksmappe">
                <xs:sequence>
                    <xs:element name="matrikkelnummer" type="matrikkelnummer" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="byggident" type="byggident" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="planident" type="planident" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="punkt" type="punkt" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="registrering">
        <xs:sequence>
            <xs:element name="systemID" type="n5mdk:systemID"/>
            <xs:element name="opprettetDato" type="n5mdk:opprettetDato"/>
            <xs:element name="opprettetAv" type="n5mdk:opprettetAv"/>
            <xs:element name="arkivertDato" type="n5mdk:arkivertDato"/>
            <xs:element name="arkivertAv" type="n5mdk:arkivertAv"/>
            <xs:element name="referanseArkivdel" type="n5mdk:referanseArkivdel" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="part" type="part" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="kassasjon" type="arkivstruktur:kassasjon" minOccurs="0"/>
            <xs:element name="skjerming" type="arkivstruktur:skjerming" minOccurs="0"/>
            <xs:element name="gradering" type="arkivstruktur:gradering" minOccurs="0"/>
            <!-- Tillater registreringer uten forekomster av dokumentbeskrivelse -->
            <xs:element name="dokumentbeskrivelse" type="arkivstruktur:dokumentbeskrivelse" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="registreringsID" type="n5mdk:registreringsID" minOccurs="0"/>
            <xs:element name="tittel" type="n5mdk:tittel"/>
            <xs:element name="offentligTittel" type="n5mdk:offentligTittel" minOccurs="0"/>
            <xs:element name="beskrivelse" type="n5mdk:beskrivelse" minOccurs="0"/>
            <xs:element name="noekkelord" type="n5mdk:noekkelord" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="forfatter" type="n5mdk:forfatter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="dokumentmedium" type="n5mdk:dokumentmedium" minOccurs="0"/>
            <xs:element name="oppbevaringssted" type="n5mdk:oppbevaringssted" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="virksomhetsspesifikkeMetadata" type="xs:anyType" minOccurs="0"/>
            <xs:element name="merknad" type="arkivstruktur:merknad" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="kryssreferanse" type="arkivstruktur:kryssreferanse" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="korrespondansepart" type="korrespondansepart" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="journalpost">
        <xs:complexContent>
            <xs:extension base="registrering">
                <xs:sequence>
                    <xs:element name="journalaar" type="n5mdk:journalaar"/>
                    <xs:element name="journalsekvensnummer" type="n5mdk:journalsekvensnummer"/>
                    <xs:element name="journalpostnummer" type="n5mdk:journalpostnummer"/>
                    <xs:element name="journalposttype" type="n5mdk:journalposttype"/>
                    <xs:element name="journalstatus" type="n5mdk:journalstatus"/>
                    <xs:element name="journaldato" type="n5mdk:journaldato"/>
                    <xs:element name="dokumentetsDato" type="n5mdk:dokumentetsDato" minOccurs="0"/>
                    <xs:element name="mottattDato" type="n5mdk:mottattDato" minOccurs="0"/>
                    <xs:element name="sendtDato" type="n5mdk:sendtDato" minOccurs="0"/>
                    <xs:element name="forfallsdato" type="n5mdk:forfallsdato" minOccurs="0"/>
                    <xs:element name="offentlighetsvurdertDato" type="n5mdk:offentlighetsvurdertDato" minOccurs="0"/>
                    <xs:element name="antallVedlegg" type="n5mdk:antallVedlegg" minOccurs="0"/>
                    <xs:element name="utlaantDato" type="n5mdk:utlaantDato" minOccurs="0"/>
                    <xs:element name="utlaantTil" type="n5mdk:utlaantTil" minOccurs="0"/>
                    <xs:element name="journalenhet" type="n5mdk:journalenhet" minOccurs="0"/>
                    <xs:element name="avskrivning" type="avskrivning" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="dokumentflyt" type="arkivstruktur:dokumentflyt" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="presedens" type="arkivstruktur:presedens" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="elektroniskSignatur" type="arkivstruktur:elektroniskSignatur" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="part">
        <xs:complexContent>
            <xs:extension base="arkivstruktur:part">
                <xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:element name="organisasjonID" minOccurs="0" type="organisasjonsID"/>
                        <xs:element name="personID" minOccurs="0" type="personID"/>
                    </xs:choice>
                    <xs:element name="skjermetObjekt" type="n5mdk:skjermetObjekt" minOccurs="0"/>
                    <xs:element name="personnavn" type="n5mdk:personnavn" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="korrespondansepart">
        <xs:complexContent>
            <xs:extension base="arkivstruktur:korrespondansepart">
                <xs:sequence>
                    <xs:element name="systemID" type="n5mdk:systemID" minOccurs="0"/>
                    <xs:choice minOccurs="0">
                        <xs:element name="organisasjonid" minOccurs="0" type="n5mdk:organisasjonid"/>
                        <xs:element name="personid" minOccurs="0" type="n5mdk:personid"/>
                    </xs:choice>
                    <xs:element name="skjermetObjekt" type="n5mdk:skjermetObjekt" minOccurs="0"/>
                    <xs:element name="personnavn" type="n5mdk:personnavn" minOccurs="0"/>
                    <xs:element name="forsendelsesmaate" type="n5mdk:forsendelsesmaate" minOccurs="0"/>
                    <xs:element name="deresReferanse" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="avskrivning">
        <xs:complexContent>
            <xs:extension base="arkivstruktur:avskrivning">
                <xs:sequence>
                    <xs:element name="referanseAvskriverJournalpost" type="n5mdk:referanseAvskriverJournalpost" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="hendelseslogg">
        <xs:sequence>
            <xs:element name="referanseArkivenhet" type="n5mdk:referanseArkivenhet"/>
            <xs:element name="beskrivelse" type="n5mdk:beskrivelse" minOccurs="0"/>
            <xs:element name="hendelsestype" type="n5mdk:hendelsestype"/>
            <xs:element name="hendelsesdato" type="n5mdk:hendelsesdato"/>
            <xs:element name="utfortAv" type="n5mdk:utfortAv" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AbstraktNasjonalidentifikatorType" abstract="true">
        <xs:sequence>
            <xs:element name="systemID" minOccurs="0" type="n5mdk:systemID"/>
            <xs:element name="beskrivelse" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="matrikkelnummer">
        <xs:sequence>
            <xs:element name="kommunenummer" type="n5mdk:kommunenummer"/>
            <xs:element name="gardsnummer" type="n5mdk:gardsnummer"/>
            <xs:element name="bruksnummer" type="n5mdk:bruksnummer"/>
            <xs:element name="festenummer" type="n5mdk:festenummer" minOccurs="0"/>
            <xs:element name="seksjonsnummer" type="n5mdk:seksjonsnummer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="byggident">
        <xs:sequence>
            <xs:element name="bygningsnummer" type="n5mdk:bygningsnummer"/>
            <xs:element name="endringsloepenummer" type="n5mdk:endringsloepenummer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="planident">
        <xs:sequence>
            <xs:element name="planidentifikasjon" type="n5mdk:planidentifikasjon"/>
            <xs:choice minOccurs="0">
                <xs:element name="kommunenummer" minOccurs="0" type="n5mdk:kommunenummer"/>
                <xs:element name="fylkesnummer" minOccurs="0" type="n5mdk:fylkesnummer"/>
                <xs:element name="landkode" minOccurs="0" type="n5mdk:landkode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="punkt">
        <xs:sequence>
            <xs:element name="koordinatsystem" type="n5mdk:koordinatsystem"/>
            <xs:element name="x" type="n5mdk:x"/>
            <xs:element name="y" type="n5mdk:y"/>
            <xs:element name="z" type="n5mdk:z" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="organisasjonsID">
        <xs:sequence>
            <xs:element name="identifikator" type="xs:string"/>
            <xs:element name="landkode" type="landkode" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="personID">
        <xs:sequence>
            <xs:element name="landkode" type="landkode"/>
            <xs:element name="identifikator" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="landkode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
