Schema/V1/no.ks.fiks.arkiv.v1.arkivering.arkivmelding.oppdater.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/oppdater/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:n5mdk="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/metadatakatalog/v1"
           xmlns:arkivmelding="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/opprett/v1"
           targetNamespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/oppdater/v1"
           elementFormDefault="qualified">
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/metadatakatalog/v1" schemaLocation="./metadatakatalog.xsd"/>
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/opprett/v1" schemaLocation="./no.ks.fiks.arkiv.v1.arkivering.arkivmelding.opprett.xsd"/>

    <xs:annotation>
        <xs:documentation>
            This is connected to the 'no.ks.fiks.arkiv.v1.arkivering.arkivmelding.oppdater' message. Use this messagetype for updates. 
        </xs:documentation>
    </xs:annotation>
    
    <xs:element name="arkivmeldingOppdatering" type="arkivmeldingOppdatering"/>

    <xs:complexType name="arkivmeldingOppdatering">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="mappeOppdateringer" type="mappeOppdatering" minOccurs="0"/>
                <xs:element name="registreringOppdateringer" type="registreringOppdatering" minOccurs="0"/>
                <xs:element name="dokumentbeskrivelseOppdateringer" type="dokumentbeskrivelseOppdatering" minOccurs="0" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dokumentbeskrivelseOppdatering">
        <xs:sequence>
            <xs:element name="referanseTilDokumentbeskrivelse" type="n5mdk:referanseTilDokumentbeskrivelse" />
            <xs:element name="dokumenttype" type="n5mdk:dokumenttype" minOccurs="0"/>
            <xs:element name="dokumentstatus" type="n5mdk:dokumentstatus" minOccurs="0"/>
            <xs:element name="tittel" type="n5mdk:tittel" minOccurs="0"/>
            <xs:element name="beskrivelse" type="beskrivelseOppdateringer" minOccurs="0"/>
            <xs:element name="forfatterOppdateringer" type="forfatterOppdateringer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="opprettetDato" type="n5mdk:opprettetDato" minOccurs="0"/>
            <xs:element name="opprettetAv" type="n5mdk:opprettetAv" minOccurs="0"/>
            <xs:element name="dokumentmedium" type="n5mdk:dokumentmedium" minOccurs="0"/>
            <xs:element name="tilknyttetRegistreringSom" type="n5mdk:tilknyttetRegistreringSom"/>
            <xs:element name="dokumentnummer" type="n5mdk:dokumentnummer" minOccurs="0"/>
            <xs:element name="tilknyttetDato" type="n5mdk:tilknyttetDato" minOccurs="0"/>
            <xs:element name="tilknyttetAv" type="n5mdk:tilknyttetAv" minOccurs="0"/>
            <xs:element name="partOppdateringer" type="partOppdateringer" minOccurs="0"/>
            <xs:element name="merknadOppdateringer" type="merknadOppdateringer" minOccurs="0"/>
            <xs:element name="skjerming" type="skjermingOppdateringer" minOccurs="0"/>
            <xs:element name="gradering" type="graderingOppdateringer" minOccurs="0"/>
            <xs:element name="referanseEksternNoekkel" type="n5mdk:eksternNoekkel" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mappeOppdatering">
        <xs:sequence>
            <xs:element name="referanseTilMappe" type="n5mdk:referanseTilMappe"/>
            <xs:element name="tittel" type="n5mdk:tittel" minOccurs="0"/>
            <xs:element name="offentligTittel" type="n5mdk:offentligTittel" minOccurs="0"/>
            <xs:element name="beskrivelse" type="beskrivelseOppdateringer" minOccurs="0"/>
            <xs:element name="noekkelord" type="noekkelordOppdateringer" minOccurs="0"/>
            <xs:element name="opprettetDato" type="n5mdk:opprettetDato" minOccurs="0"/>
            <xs:element name="opprettetAv" type="n5mdk:opprettetAv" minOccurs="0"/>
            <xs:element name="avsluttetDato" type="n5mdk:avsluttetDato" minOccurs="0"/>
            <xs:element name="avsluttetAv" type="n5mdk:avsluttetAv" minOccurs="0"/>
            <xs:element name="arkivdel" type="n5mdk:kode" minOccurs="0"/>
            <xs:element name="virksomhetsspesifikkeMetadataOppdateringer" type="virksomhetsspesifikkeMetadataOppdateringer" minOccurs="0"/>
            <xs:element name="partOppdateringer" type="partOppdateringer" minOccurs="0"/>
            <xs:element name="kryssreferanseOppdateringer" type="kryssreferanseOppdateringer" minOccurs="0"/>
            <xs:element name="merknadOppdateringer" type="merknadOppdateringer" minOccurs="0"/>
            <xs:element name="skjermingOppdateringer" type="skjermingOppdateringer" minOccurs="0"/>
            <xs:element name="graderingOppdateringer" type="graderingOppdateringer" minOccurs="0"/>
            <xs:element name="klassifikasjonOppdateringer" type="klassifikasjonOppdateringer" minOccurs="0"/>
            <xs:element name="referanseEksternNoekkel" type="n5mdk:eksternNoekkel" minOccurs="0"/>
            <xs:element name="mappetype" type="n5mdk:kode" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="saksmappeOppdatering">
        <xs:complexContent>
            <xs:extension base="mappeOppdatering">
                <xs:sequence>
                    <xs:element name="saksdato" type="n5mdk:saksdato" minOccurs="0"/>
                    <xs:element name="administrativEnhet" type="n5mdk:administrativEnhet" minOccurs="0"/>
                    <xs:element name="saksansvarlig" type="n5mdk:saksansvarlig" minOccurs="0"/>
                    <xs:element name="saksstatus" type="n5mdk:saksstatus" minOccurs="0"/>
                    <xs:element name="presedens" type="arkivmelding:presedens" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="matrikkelnummerOppdateringer" type="matrikkelnummerOppdateringer" minOccurs="0"/>
                    <xs:element name="byggidentOppdateringer" type="byggidentOppdateringer" minOccurs="0"/>
                    <xs:element name="planidentOppdateringer" type="planidentOppdateringer" minOccurs="0"/>
                    <xs:element name="punktOppdateringer" type="punktOppdateringer" minOccurs="0"/>
                    <xs:element name="adresseOppdateringer" type="adresseOppdateringer" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="kryssreferanseOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="kryssreferanseOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="kryssreferanseSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:kryssreferanse" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="kryssreferanseOppdatering">
        <xs:sequence>
            <xs:element name="kryssreferanseID" type="n5mdk:kryssreferanseID"/>
            <xs:element name="referanseTilMappe" type="n5mdk:referanseTilMappe" minOccurs="0"/>
            <xs:element name="referanseTilRegistrering" type="n5mdk:referanseTilRegistrering" minOccurs="0"/>
            <xs:element name="referanseTilDokumentbeskrivelse" type="n5mdk:referanseTilDokumentbeskrivelse"
                        minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="kryssreferanseSlett">
        <xs:sequence>
            <xs:element name="kryssreferanseID" type="n5mdk:kryssreferanseID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="punktOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="punktOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="punktSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:punkt" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="punktOppdatering">
        <xs:sequence>
            <xs:element name="punktID" type="n5mdk:punktID"/>
            <xs:element name="koordinatsystem" type="n5mdk:koordinatsystem" minOccurs="0"/>
            <xs:element name="x" type="n5mdk:x" minOccurs="0"/>
            <xs:element name="y" type="n5mdk:y" minOccurs="0"/>
            <xs:element name="z" type="n5mdk:z" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="punktSlett">
        <xs:sequence>
            <xs:element name="punktID" type="n5mdk:punktID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="partOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="partOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="partSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:part" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="partOppdatering">
        <xs:sequence>
            <xs:element name="partID" type="n5mdk:partID"/>
            <xs:element name="partNavn" type="n5mdk:partNavn" minOccurs="0"/>
            <xs:element name="partRolle" type="n5mdk:partRolle" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="organisasjonid" minOccurs="0" type="n5mdk:organisasjonid"/>
                <xs:element name="personid" minOccurs="0" type="n5mdk:personid"/>
            </xs:choice>
            <xs:element name="postadresse" type="n5mdk:postadresse" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="postnummer" type="n5mdk:postnummer" minOccurs="0"/>
            <xs:element name="poststed" type="n5mdk:poststed" minOccurs="0"/>
            <xs:element name="landkode" type="n5mdk:landkode" minOccurs="0"/>
            <xs:element name="epostadresse" type="n5mdk:epostadresse" minOccurs="0"/>
            <xs:element name="telefonnummer" type="n5mdk:telefonnummer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="kontaktperson" type="n5mdk:kontaktperson" minOccurs="0"/>
            <xs:element name="virksomhetsspesifikkeMetadataOppdateringer" type="virksomhetsspesifikkeMetadataOppdateringer" minOccurs="0"/>
            <xs:element name="erSkjermet" type="n5mdk:erSkjermet" minOccurs="0"/>
            <xs:element name="erPersonnavn" type="n5mdk:erPersonnavn" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="partSlett">
        <xs:sequence>
            <xs:element name="partID" type="n5mdk:partID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="registreringOppdatering">
        <xs:sequence>
            <xs:element name="referanseTilRegistrering" type="n5mdk:referanseTilRegistrering"/>
            <xs:element name="opprettetDato" type="n5mdk:opprettetDato" minOccurs="0"/>
            <xs:element name="opprettetAv" type="n5mdk:opprettetAv" minOccurs="0"/>
            <xs:element name="arkivertDato" type="n5mdk:arkivertDato" minOccurs="0"/>
            <xs:element name="arkivertAv" type="n5mdk:arkivertAv" minOccurs="0"/>
            <xs:element name="referanseForelderMappe" type="n5mdk:referanseTilMappe" minOccurs="0"/>
            <xs:element name="partOppdateringer" type="partOppdateringer" minOccurs="0"/>
            <xs:element name="kryssreferanseOppdateringer" type="kryssreferanseOppdateringer" minOccurs="0"/>
            <xs:element name="skjermingOppdateringer" type="skjermingOppdateringer" minOccurs="0"/>
            <xs:element name="gradering" type="graderingOppdateringer" minOccurs="0"/>
            <xs:element name="tittel" type="n5mdk:tittel" minOccurs="0"/>
            <xs:element name="offentligTittel" type="n5mdk:offentligTittel" minOccurs="0"/>
            <xs:element name="beskrivelse" type="beskrivelseOppdateringer" minOccurs="0"/>
            <xs:element name="noekkelord" type="noekkelordOppdateringer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="forfatterOppdateringer" type="forfatterOppdateringer" minOccurs="0"/>
            <xs:element name="virksomhetsspesifikkeMetadataOppdateringer" type="virksomhetsspesifikkeMetadataOppdateringer" minOccurs="0"/>
            <xs:element name="merknadOppdateringer" type="merknadOppdateringer" minOccurs="0"/>
            <xs:element name="korrespondansepartOppdateringer" type="korrespondansepartOppdateringer" minOccurs="0"/>
            <xs:element name="klassifikasjonOppdateringer" type="klassifikasjonOppdateringer" minOccurs="0"/>
            <xs:element name="referanseEksternNoekkel" type="n5mdk:eksternNoekkel" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="journalpostOppdatering">
        <xs:complexContent>
            <xs:extension base="registreringOppdatering">
                <xs:sequence>
                    <xs:element name="journalposttype" type="n5mdk:journalposttype" minOccurs="0"/>
                    <xs:element name="journalstatus" type="n5mdk:journalstatus" minOccurs="0"/>
                    <xs:element name="journaldato" type="n5mdk:journaldato" minOccurs="0"/>
                    <xs:element name="dokumentetsDato" type="n5mdk:dokumentetsDato" minOccurs="0"/>
                    <xs:element name="mottattDato" type="n5mdk:mottattDato" minOccurs="0"/>
                    <xs:element name="sendtDato" type="n5mdk:sendtDato" minOccurs="0"/>
                    <xs:element name="forfallsdato" type="n5mdk:forfallsdato" minOccurs="0"/>
                    <xs:element name="offentlighetsvurdertDato" type="n5mdk:offentlighetsvurdertDato" minOccurs="0"/>
                    <xs:element name="journalenhet" type="n5mdk:journalenhet" minOccurs="0"/>
                    <xs:element name="dokumentflyt" type="arkivmelding:dokumentflyt" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="presedens" type="arkivmelding:presedens" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="avskrivningsdato" type="n5mdk:avskrivningsdato" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="korrespondansepartOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="korrespondansepartOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="korrespondansepartSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:korrespondansepart" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="korrespondansepartOppdatering">
        <xs:sequence>
            <xs:element name="korrespondansepartID" type="n5mdk:korrespondansepartID"/>
            <xs:element name="korrespondanseparttype" type="n5mdk:korrespondanseparttype" minOccurs="0"/>
            <xs:element name="korrespondansepartNavn" type="n5mdk:korrespondansepartNavn" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="organisasjonid" minOccurs="0" type="n5mdk:organisasjonid"/>
                <xs:element name="personid" minOccurs="0" type="n5mdk:personid"/>
            </xs:choice>
            <xs:element name="postadresse" type="n5mdk:postadresse" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="postnummer" type="n5mdk:postnummer" minOccurs="0"/>
            <xs:element name="poststed" type="n5mdk:poststed" minOccurs="0"/>
            <xs:element name="landkode" type="n5mdk:landkode" minOccurs="0"/>
            <xs:element name="epostadresse" type="n5mdk:epostadresse" minOccurs="0"/>
            <xs:element name="telefonnummer" type="n5mdk:telefonnummer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="kontaktperson" type="n5mdk:kontaktperson" minOccurs="0"/>
            <xs:element name="administrativEnhet" type="n5mdk:administrativEnhet" minOccurs="0"/>
            <xs:element name="saksbehandler" type="n5mdk:saksbehandler" minOccurs="0"/>
            <xs:element name="erSkjermet" type="n5mdk:erSkjermet" minOccurs="0"/>
            <xs:element name="erPersonnavn" type="n5mdk:erPersonnavn" minOccurs="0"/>
            <xs:element name="forsendelsesmaate" type="n5mdk:forsendelsesmaate" minOccurs="0"/>
            <xs:element name="deresReferanse" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="korrespondansepartSlett">
        <xs:sequence>
            <xs:element name="korrespondansepartID" type="n5mdk:korrespondansepartID"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="merknadOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="merknadOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="merknadSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:merknad" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="merknadOppdatering">
        <xs:sequence>
            <xs:element name="merknadID" type="n5mdk:merknadID"/>
            <xs:element name="merknadstekst" type="n5mdk:merknadstekst" minOccurs="0"/>
            <xs:element name="merknadstype" type="n5mdk:merknadstype" minOccurs="0"/>
            <xs:element name="merknadsdato" type="n5mdk:merknadsdato" minOccurs="0"/>
            <xs:element name="merknadRegistrertAv" type="n5mdk:merknadRegistrertAv" minOccurs="0"/>
            <xs:element name="erSkjermet" type="n5mdk:erSkjermet" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="merknadSlett">
        <xs:sequence>
            <xs:element name="merknadID" type="n5mdk:merknadID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="skjermingOppdateringer">
        <xs:annotation>
            <xs:documentation>
                Deleting this object is done by using the "slett" elment and setting it to true. 
                Use "oppdatering" for update. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="slett" type="xs:boolean" minOccurs="0"/>
            <xs:element name="oppdatering" type="skjermingOppdatering" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="skjermingOppdatering">
        <xs:sequence>
            <xs:element name="tilgangsrestriksjon" type="n5mdk:tilgangsrestriksjon" minOccurs="0"/>
            <xs:element name="skjermingshjemmel" type="n5mdk:skjermingshjemmel" minOccurs="0"/>
            <xs:element name="skjermingOpphoererDato" type="n5mdk:skjermingOpphoererDato" minOccurs="0"/>
            <xs:element name="skjermingOpphoererAksjon" type="n5mdk:skjermingOpphoererAksjon" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="graderingOppdateringer">
        <xs:annotation>
            <xs:documentation>
                Deleting this object is done by using the "slett" elment and setting it to true.
                Use "oppdatering" for update.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="slett" type="xs:boolean" minOccurs="0"/>
            <xs:element name="oppdatering" type="graderingOppdatering" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="graderingOppdatering">
        <xs:sequence>
            <xs:element name="grad" type="n5mdk:grad" minOccurs="0"/>
            <xs:element name="graderingsdato" type="n5mdk:graderingsdato" minOccurs="0"/>
            <xs:element name="gradertAv" type="n5mdk:gradertAv" minOccurs="0"/>
            <xs:element name="nedgraderingsdato" type="n5mdk:nedgraderingsdato" minOccurs="0"/>
            <xs:element name="nedgradertAv" type="n5mdk:nedgradertAv" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="noekkelordOppdateringer">
        <xs:annotation>
            <xs:documentation>
                Since there is no id on this object, update means that the object needs to be deleted by "slett" and then added as "ny".
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="slett" type="n5mdk:noekkelord" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="n5mdk:noekkelord" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="beskrivelseOppdateringer">
        <xs:annotation>
            <xs:documentation>
                Deleting this object is done by using the "slett" elment and setting it to true.
                Use "oppdatering" for update and send the new "beskrivelse".
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="slett" type="xs:boolean" minOccurs="0"/>
            <xs:element name="oppdatering" type="n5mdk:beskrivelse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="adresseOppdateringer">
        <xs:annotation>
            <xs:documentation>
                Since there is no id on this object, update means that the object needs to be deleted by "slett" and then added as "ny".
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="slett" type="arkivmelding:adresse" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:adresse" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="forfatterOppdateringer">
        <xs:annotation>
            <xs:documentation>
                Since there is no id on this object, update means that the object needs to be deleted by "slett" and then added as "ny".
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="slett" type="n5mdk:forfatter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="n5mdk:forfatter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="klassifikasjonOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="klassifikasjonOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="klassifikasjonSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:klassifikasjon" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="klassifikasjonOppdatering">
        <xs:sequence>
            <xs:element name="referanseTilKlassifikasjon" type="n5mdk:referanseTilKlassifikasjon"/>
            <xs:element name="tittel" type="n5mdk:tittel" minOccurs="0"/>
            <xs:element name="erSkjermet" type="n5mdk:erSkjermet" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="klassifikasjonSlett">
        <xs:sequence>
            <xs:element name="referanseTilKlassifikasjon" type="n5mdk:referanseTilKlassifikasjon"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="matrikkelnummerOppdateringer">
        <xs:sequence>
            <xs:element name="ny" type="arkivmelding:matrikkelnummer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="matrikkelnummerSlett" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="matrikkelnummerSlett">
        <xs:sequence>
            <xs:element name="kommunenummer" type="n5mdk:kommunenummer"/>
            <xs:element name="gardsnummer" type="n5mdk:gardsnummer"/>
            <xs:element name="bruksnummer" type="n5mdk:bruksnummer"/>
            <xs:element name="festenummer" type="n5mdk:festenummer" minOccurs="0"/>
            <xs:element name="seksjonsnummer" type="n5mdk:seksjonsnummer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="byggidentOppdateringer">
        <xs:sequence>
            <xs:element name="Oppdatering" type="byggidentOppdatering" minOccurs="0" maxOccurs="unbounded"/> <!-- er det naturlig å endre dette? -->
            <xs:element name="Slett" type="byggidentSlett" minOccurs="0" maxOccurs="unbounded"/> <!-- skal man kunne slette? -->
            <xs:element name="Ny" type="arkivmelding:byggident" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="byggidentOppdatering">
        <xs:sequence>
            <xs:element name="opprinneligBygningsnummer" type="n5mdk:bygningsnummer"/>
            <xs:element name="bygningsnummer" type="n5mdk:bygningsnummer" minOccurs="0"/>
            <xs:element name="endringsloepenummer" type="n5mdk:endringsloepenummer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="byggidentSlett">
        <xs:sequence>
            <xs:element name="bygningsnummer" type="n5mdk:bygningsnummer"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="planidentOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="planidentOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="planidentSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:planident" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="planidentOppdatering">
        <xs:sequence>
            <xs:element name="planidentifikasjon" type="n5mdk:planidentifikasjon"/>
            <xs:choice minOccurs="0">
                <xs:element name="kommunenummer" minOccurs="0" type="n5mdk:kommunenummer"/>
                <xs:element name="fylkesnummer" minOccurs="0" type="n5mdk:fylkesnummer"/>
                <xs:element name="landkode" minOccurs="0" type="n5mdk:landkode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="planidentSlett">
        <xs:sequence>
            <xs:element name="planidentifikasjon" type="n5mdk:planidentifikasjon"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="moetemappeOppdatering">
        <xs:complexContent>
            <xs:extension base="mappeOppdatering">
                <xs:sequence>
                    <xs:element name="moetenummer" type="n5mdk:moetenummer" minOccurs="0"/>
                    <xs:element name="utvalg" type="n5mdk:utvalg" minOccurs="0"/>
                    <xs:element name="moetedato" type="n5mdk:moetedato" minOccurs="0"/>
                    <xs:element name="moetested" type="n5mdk:moetested" minOccurs="0"/>
                    <xs:element name="referanseForrigeMoete" type="n5mdk:referanseForrigeMoete" minOccurs="0"/>
                    <xs:element name="referanseNesteMoete" type="n5mdk:referanseNesteMoete" minOccurs="0"/>
                    <xs:element name="moetedeltakerOppdateringer" type="moetedeltakerOppdateringer" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="moetedeltakerOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="moetedeltakerOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="moetedeltakerSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="n5mdk:moetedeltaker" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="moetedeltakerOppdatering">
        <xs:sequence>
            <xs:element name="personid" type="n5mdk:personid"/>
            <xs:element name="navn" type="n5mdk:moetedeltakerNavn" minOccurs="0"/>
            <xs:element name="funksjon" type="n5mdk:moetedeltakerFunksjon" minOccurs="0"/>
            <xs:element name="representerer" type="n5mdk:representerer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="moetedeltakerSlett">
        <xs:sequence>
            <xs:element name="personid" type="n5mdk:personid"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="moetesakOppdatering">
        <xs:complexContent>
            <xs:extension base="registreringOppdatering">
                <xs:sequence>
                    <xs:element name="moetesakstype" type="n5mdk:moetesakstype" minOccurs="0"/>
                    <xs:element name="moetesaksaar" type="n5mdk:saksaar" minOccurs="0"/>
                    <xs:element name="moetesakssekvensnummer" type="n5mdk:sakssekvensnummer" minOccurs="0"/>
                    <xs:element name="administrativEnhet" type="n5mdk:administrativEnhet" minOccurs="0"/>
                    <xs:element name="utredning" type="utredningOppdatering" minOccurs="0"/>
                    <xs:element name="innstillingOppdatering" type="innstillingOppdatering" minOccurs="0"/>
                    <xs:element name="vedtakOppdatering" type="vedtakOppdatering" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="utredningOppdatering">
        <xs:sequence>
            <xs:element name="oppdateringstype" type="n5mdk:slettEllerOppdater"/>
            <xs:element name="saksbeskrivelse" type="n5mdk:moetesaksBeskrivelse" minOccurs="0"/>
            <xs:element name="innstilling" type="n5mdk:moetesaksBeskrivelse" minOccurs="0"/>
            <xs:element name="utredningsdokumenter" type="arkivmelding:dokumentbeskrivelse" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="innstillingOppdatering">
        <xs:sequence>
            <xs:choice>
                <xs:element name="oppdateringstype" type="n5mdk:slettEllerOppdater"/>
                <xs:element name="innstilling" type="n5mdk:moetesaksBeskrivelse" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vedtakOppdatering">
        <xs:sequence>
            <xs:choice>
                <xs:element name="oppdateringstype" type="n5mdk:slettEllerOppdater"/>
                <xs:element name="vedtakstekst" type="n5mdk:moetesaksBeskrivelse" minOccurs="0"/>
                <xs:element name="votering" type="arkivmelding:votering" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="behandlingsprotokoll" type="n5mdk:behandlingsprotokoll" minOccurs="0"/>
                <xs:element name="vedtaksdokumenter" type="arkivmelding:dokumentbeskrivelse" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="dato" type="n5mdk:vedtaksdato" minOccurs="0"/>            
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="virksomhetsspesifikkeMetadataOppdateringer">
        <xs:annotation>
            <xs:documentation>
                Deleting this object is done by using the "slett" elment and setting it to true.
                Use "ny" for adding to existing virksomhetsspesifikkeMetadata.
                When updating virksomhetsspesifikkeMetadata, delete first with "slett" then use "ny". All existing data must be sent with the updated. Both updated, new and unchanged data.
                The xs:anyType leaves no way of identifying what is updated, what is new and what is unchanged.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="slett" type="xs:boolean" minOccurs="0"/>
            <xs:element name="ny" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
