Schema/V1/no.ks.fiks.arkiv.v1.arkivering.arkivmelding.oppdater.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/oppdater/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:n5mdk="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/metadatakatalog/v1"
           xmlns:arkivmelding="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/opprett/v1"
           targetNamespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/oppdater/v1"
           elementFormDefault="qualified">
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/metadatakatalog/v1" schemaLocation="./metadatakatalog.xsd"/>
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivmelding/opprett/v1" schemaLocation="./no.ks.fiks.arkiv.v1.arkivering.arkivmelding.opprett.xsd"/>

    <xs:annotation>
        <xs:documentation>
            This is connected to the 'no.ks.fiks.arkiv.v1.arkivering.arkivmelding.oppdater' message. Use this messagetype for updates. 
        </xs:documentation>
    </xs:annotation>
    
    <xs:element name="arkivmeldingOppdatering" type="arkivmeldingOppdatering"/>

    <xs:complexType name="arkivmeldingOppdatering">
        <xs:sequence>
            <xs:element name="tidspunkt" type="xs:dateTime"/>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="mappeOppdateringer" type="mappeOppdatering" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="registreringOppdateringer" type="registreringOppdatering" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="dokumentbeskrivelseOppdatering" type="dokumentbeskrivelseOppdatering" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dokumentbeskrivelseOppdatering">
        <xs:sequence>
            <xs:element name="systemID" type="n5mdk:systemID" />
            <xs:element name="tittel" type="n5mdk:tittel" minOccurs="0"/>
            <xs:element name="beskrivelse" type="n5mdk:beskrivelse" minOccurs="0"/>
            <xs:element name="skjerming" type="arkivmelding:skjerming" minOccurs="0"/>
            <xs:element name="gradering" type="arkivmelding:gradering" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mappeOppdatering">
        <xs:sequence>
            <xs:element name="referanseTilMappe" type="n5mdk:referanseTilMappe"/>
            <xs:element name="referanseEksternNoekkel" type="n5mdk:eksternNoekkel" minOccurs="0"/>
            <xs:element name="tittel" type="n5mdk:tittel" minOccurs="0"/>
            <xs:element name="skjerming" type="arkivmelding:skjerming" minOccurs="0"/>
            <xs:element name="gradering" type="arkivmelding:gradering" minOccurs="0"/>
            <xs:element name="offentligTittel" type="n5mdk:offentligTittel" minOccurs="0"/>
            <xs:element name="beskrivelse" type="n5mdk:beskrivelse" minOccurs="0"/>
            <xs:element name="virksomhetsspesifikkeMetadata" type="xs:anyType" minOccurs="0"/>
            <xs:element name="partOppdateringer" type="partOppdateringer" minOccurs="0"/>
            <xs:element name="kryssreferanseOppdateringer" type="kryssreferanseOppdateringer" minOccurs="0"/>
            <xs:element name="merknadOppdateringer" type="merknadOppdateringer" minOccurs="0"/>
            <xs:element name="klassifikasjonOppdateringer" type="klassifikasjonOppdateringer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="saksmappeOppdatering">
        <xs:complexContent>
            <xs:extension base="mappeOppdatering">
                <xs:sequence>
                    <xs:element name="administrativEnhet" type="n5mdk:administrativEnhet" minOccurs="0"/>
                    <xs:element name="saksansvarlig" type="n5mdk:saksansvarlig" minOccurs="0"/>
                    <xs:element name="saksstatus" type="n5mdk:saksstatus" minOccurs="0"/>
                    <xs:element name="matrikkelnummerOppdateringer" type="matrikkelnummerOppdateringer" minOccurs="0"/>
                    <xs:element name="byggidentOppdateringer" type="byggidentOppdateringer" minOccurs="0"/>
                    <xs:element name="planidentOppdateringer" type="planidentOppdateringer" minOccurs="0"/>
                    <xs:element name="punktOppdateringer" type="punktOppdateringer" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="kryssreferanseOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="kryssreferanseOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="kryssreferanseSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:kryssreferanse" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="kryssreferanseOppdatering">
        <xs:sequence>
            <xs:element name="kryssreferanseID" type="n5mdk:kryssreferanseID"/>
            <xs:element name="referanseTilKlasse" type="n5mdk:referanseTilKlasse" minOccurs="0"/>
            <xs:element name="referanseTilMappe" type="n5mdk:referanseTilMappe" minOccurs="0"/>
            <xs:element name="referanseTilRegistrering" type="n5mdk:referanseTilRegistrering" minOccurs="0"/>
            <xs:element name="referanseTilDokumentbeskrivelse" type="n5mdk:referanseTilDokumentbeskrivelse"
                        minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="kryssreferanseSlett">
        <xs:sequence>
            <xs:element name="systemID" type="n5mdk:systemID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="punktOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="punktOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="punktSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:punkt" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="punktOppdatering">
        <xs:sequence>
            <xs:element name="punktID" type="n5mdk:punktID"/>
            <xs:element name="koordinatsystem" type="n5mdk:koordinatsystem" minOccurs="0"/>
            <xs:element name="x" type="n5mdk:x" minOccurs="0"/>
            <xs:element name="y" type="n5mdk:y" minOccurs="0"/>
            <xs:element name="z" type="n5mdk:z" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="punktSlett">
        <xs:sequence>
            <xs:element name="punktID" type="n5mdk:punktID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="partOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="partOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="partSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="part" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="part">
        <xs:sequence>
            <xs:element name="partID" type="n5mdk:partID" minOccurs="0"/>
            <xs:element name="partNavn" type="n5mdk:partNavn"/>
            <xs:element name="partRolle" type="n5mdk:partRolle"/>
            <xs:element name="postadresse" type="n5mdk:postadresse" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="postnummer" type="n5mdk:postnummer" minOccurs="0"/>
            <xs:element name="poststed" type="n5mdk:poststed" minOccurs="0"/>
            <xs:element name="land" type="n5mdk:land" minOccurs="0"/>
            <xs:element name="epostadresse" type="n5mdk:epostadresse" minOccurs="0"/>
            <xs:element name="telefonnummer" type="n5mdk:telefonnummer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="kontaktperson" type="n5mdk:kontaktperson" minOccurs="0"/>
            <xs:element name="virksomhetsspesifikkeMetadata" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="partOppdatering">
        <xs:sequence>
            <xs:element name="partID" type="n5mdk:partID"/>
            <xs:element name="partNavn" type="n5mdk:partNavn" minOccurs="0"/>
            <xs:element name="partRolle" type="n5mdk:partRolle" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="organisasjonid" minOccurs="0" type="n5mdk:organisasjonid"/>
                <xs:element name="personid" minOccurs="0" type="n5mdk:personid"/>
            </xs:choice>
            <xs:element name="postadresse" type="n5mdk:postadresse" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="postnummer" type="n5mdk:postnummer" minOccurs="0"/>
            <xs:element name="poststed" type="n5mdk:poststed" minOccurs="0"/>
            <xs:element name="land" type="n5mdk:land" minOccurs="0"/>
            <xs:element name="epostadresse" type="n5mdk:epostadresse" minOccurs="0"/>
            <xs:element name="telefonnummer" type="n5mdk:telefonnummer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="kontaktperson" type="n5mdk:kontaktperson" minOccurs="0"/>
            <xs:element name="virksomhetsspesifikkeMetadata" type="xs:anyType" minOccurs="0"/>
            <xs:element name="erSkjermet" type="n5mdk:erSkjermet" minOccurs="0"/>
            <xs:element name="erPersonnavn" type="n5mdk:erPersonnavn" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="partSlett">
        <xs:sequence>
            <xs:element name="partID" type="n5mdk:partID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="registreringOppdatering">
        <xs:sequence>
            <xs:element name="referanseTilRegistrering" type="n5mdk:referanseTilRegistrering"/>
            <xs:element name="referanseEksternNoekkel" type="n5mdk:eksternNoekkel" minOccurs="0"/>
            <xs:element name="partOppdateringer" type="partOppdateringer" minOccurs="0"/>
            <xs:element name="skjerming" type="arkivmelding:skjerming" minOccurs="0"/>
            <xs:element name="gradering" type="arkivmelding:gradering" minOccurs="0"/>
            <xs:element name="tittel" type="n5mdk:tittel" minOccurs="0"/>
            <xs:element name="offentligTittel" type="n5mdk:offentligTittel" minOccurs="0"/>
            <xs:element name="beskrivelse" type="n5mdk:beskrivelse" minOccurs="0"/>
            <xs:element name="virksomhetsspesifikkeMetadata" type="xs:anyType" minOccurs="0"/>
            <xs:element name="merknadOppdateringer" type="merknadOppdateringer" minOccurs="0"/>
            <xs:element name="korrespondansepartOppdateringer" type="korrespondansepartOppdateringer" minOccurs="0"/>
            <xs:element name="klassifikasjonOppdateringer" type="klassifikasjonOppdateringer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="journalpostOppdatering">
        <xs:complexContent>
            <xs:extension base="registreringOppdatering">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="korrespondansepartOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="korrespondansepartOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="korrespondansepartSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:korrespondansepart" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="korrespondansepartOppdatering">
        <xs:sequence>
            <xs:element name="korrespondansepartID" type="n5mdk:korrespondansepartID"/>
            <xs:element name="korrespondanseparttype" type="n5mdk:korrespondanseparttype" minOccurs="0"/>
            <xs:element name="korrespondansepartNavn" type="n5mdk:korrespondansepartNavn" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="organisasjonid" minOccurs="0" type="n5mdk:organisasjonid"/>
                <xs:element name="personid" minOccurs="0" type="n5mdk:personid"/>
            </xs:choice>
            <xs:element name="postadresse" type="n5mdk:postadresse" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="postnummer" type="n5mdk:postnummer" minOccurs="0"/>
            <xs:element name="poststed" type="n5mdk:poststed" minOccurs="0"/>
            <xs:element name="land" type="n5mdk:land" minOccurs="0"/>
            <xs:element name="epostadresse" type="n5mdk:epostadresse" minOccurs="0"/>
            <xs:element name="telefonnummer" type="n5mdk:telefonnummer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="kontaktperson" type="n5mdk:kontaktperson" minOccurs="0"/>
            <xs:element name="administrativEnhet" type="n5mdk:administrativEnhet" minOccurs="0"/>
            <xs:element name="saksbehandler" type="n5mdk:saksbehandler" minOccurs="0"/>
            <xs:element name="erSkjermet" type="n5mdk:erSkjermet" minOccurs="0"/>
            <xs:element name="erPersonnavn" type="n5mdk:erPersonnavn" minOccurs="0"/>
            <xs:element name="forsendelsesmaate" type="n5mdk:forsendelsesmaate" minOccurs="0"/>
            <xs:element name="deresReferanse" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="korrespondansepartSlett">
        <xs:sequence>
            <xs:element name="korrespondansepartID" type="n5mdk:korrespondansepartID"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="merknadOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="merknadOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="merknadSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:merknad" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="merknadOppdatering">
        <xs:sequence>
            <xs:element name="merknadID" type="n5mdk:merknadID"/>
            <xs:element name="merknadstekst" type="n5mdk:merknadstekst" minOccurs="0"/>
            <xs:element name="merknadstype" type="n5mdk:merknadstype" minOccurs="0"/>
            <xs:element name="merknadsdato" type="n5mdk:merknadsdato" minOccurs="0"/>
            <xs:element name="merknadRegistrertAv" type="n5mdk:merknadRegistrertAv" minOccurs="0"/>
            <xs:element name="erSkjermet" type="n5mdk:erSkjermet" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="merknadSlett">
        <xs:sequence>
            <xs:element name="merknadID" type="n5mdk:merknadID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="klassifikasjonOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="klassifikasjonOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="klassifikasjonSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:klassifikasjon" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="klassifikasjonOppdatering">
        <xs:sequence>
            <xs:element name="klassifikasjonssystemID" type="n5mdk:klassifikasjonssystemID"/>
            <xs:element name="klasseID" type="n5mdk:klasseID" minOccurs="0"/>
            <xs:element name="tittel" type="n5mdk:tittel" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="klassifikasjonSlett">
        <xs:sequence>
            <xs:element name="klassifikasjonssystemID" type="n5mdk:klassifikasjonssystemID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="matrikkelnummerOppdateringer">
        <xs:sequence>
            <xs:element name="ny" type="arkivmelding:matrikkelnummer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="matrikkelnummerSlett" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="matrikkelnummerSlett">
        <xs:sequence>
            <xs:element name="kommunenummer" type="n5mdk:kommunenummer"/>
            <xs:element name="gardsnummer" type="n5mdk:gardsnummer"/>
            <xs:element name="bruksnummer" type="n5mdk:bruksnummer"/>
            <xs:element name="festenummer" type="n5mdk:festenummer" minOccurs="0"/>
            <xs:element name="seksjonsnummer" type="n5mdk:seksjonsnummer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="byggidentOppdateringer">
        <xs:sequence>
            <xs:element name="Oppdatering" type="byggidentOppdatering" minOccurs="0" maxOccurs="unbounded"/> <!-- er det naturlig å endre dette? -->
            <xs:element name="Slett" type="byggidentSlett" minOccurs="0" maxOccurs="unbounded"/> <!-- skal man kunne slette? -->
            <xs:element name="Ny" type="arkivmelding:byggident" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="byggidentOppdatering">
        <xs:sequence>
            <xs:element name="opprinneligBygningsnummer" type="n5mdk:bygningsnummer"/>
            <xs:element name="bygningsnummer" type="n5mdk:bygningsnummer" minOccurs="0"/>
            <xs:element name="endringsloepenummer" type="n5mdk:endringsloepenummer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="byggidentSlett">
        <xs:sequence>
            <xs:element name="bygningsnummer" type="n5mdk:bygningsnummer"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="planidentOppdateringer">
        <xs:sequence>
            <xs:element name="oppdatering" type="planidentOppdatering" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="slett" type="planidentSlett" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ny" type="arkivmelding:planident" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="planidentOppdatering">
        <xs:sequence>
            <xs:element name="planidentifikasjon" type="n5mdk:planidentifikasjon"/>
            <xs:choice minOccurs="0">
                <xs:element name="kommunenummer" minOccurs="0" type="n5mdk:kommunenummer"/>
                <xs:element name="fylkesnummer" minOccurs="0" type="n5mdk:fylkesnummer"/>
                <xs:element name="landkode" minOccurs="0" type="n5mdk:landkode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="planidentSlett">
        <xs:sequence>
            <xs:element name="planidentifikasjon" type="n5mdk:planidentifikasjon"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
