Schema/V1/no.ks.fiks.arkiv.v1.innsyn.sok.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sok/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:arkivstruktur="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/v1"
           targetNamespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sok/v1" elementFormDefault="qualified">

    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/v1"
               schemaLocation="./arkivstruktur.xsd"/>
    <xs:element name="sok" type="sok"/>

    <xs:complexType name="sok">
        <xs:sequence>
            <xs:element name="system" type="xs:string"/>
            <xs:element name="meldingId" type="xs:string"/>
            <xs:element name="tidspunkt" type="xs:dateTime"/>
            <xs:element name="take" type="xs:int"/>
            <xs:element name="skip" type="xs:int"/>
            <xs:element name="respons" type="respons"/>
            <xs:element name="parameter" type="parameter" maxOccurs="unbounded"/>
            <xs:element name="responsType" type="arkivstruktur:responsType" default="minimum"/>
            <xs:element name="inkluder" type="inkluder" minOccurs="0"/>
            <xs:element name="sortering" type="sortering" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parameter">
        <xs:sequence>
            <xs:element name="felt" type="sokFelt"/>
            <xs:element name="operator" type="operatorType"/>
            <xs:element name="parameterverdier" type="parameterverdier"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parameterverdier">
        <xs:choice minOccurs="0">
            <xs:element name="stringvalues" type="stringvalues"/>
            <xs:element name="datevalues" type="datevalues"/>
            <xs:element name="intvalues" type="intvalues"/>
            <xs:element name="eksternId" type="eksternId"/>
            <xs:element name="klassifikasjonvalues" type="klassifikasjonvalues"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="stringvalues">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="datevalues">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="intvalues">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="klassifikasjonvalues">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="klassifikasjonssystem" type="xs:string" minOccurs="0"/>
            <xs:element name="klasse" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="eksternId">
        <xs:sequence>
            <xs:element name="system" type="xs:string"/>
            <xs:element name="id" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="operatorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="equal"/>
            <xs:enumeration value="notequal"/>
            <xs:enumeration value="between"/>
            <xs:enumeration value="lessthan"/>
            <xs:enumeration value="lessequal"/>
            <xs:enumeration value="greaterthan"/>
            <xs:enumeration value="greaterequal"/>
            <xs:enumeration value="inlist"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sokFelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappeEksternId"/>
            <xs:enumeration value="mappeTittel"/>
            <xs:enumeration value="mappeOpprettetDato"/>
            <xs:enumeration value="mappeBeskrivelse"/>
            <xs:enumeration value="mappeNoekkelord"/>
            <xs:enumeration value="mappeAvsluttetDato"/>
            <xs:enumeration value="mappeArkivdel"/>
            <xs:enumeration value="mappeEndretFoerDato"/>
            <xs:enumeration value="mappeEndretEtterDato"/>
            <xs:enumeration value="mappeMappetype"/>

            <xs:enumeration value="sakSaksdato"/>
            <xs:enumeration value="sakSaksaar"/>
            <xs:enumeration value="sakSaksekvensnummer"/>
            <xs:enumeration value="sakSaksstatus"/>
            <xs:enumeration value="sakAdministrativenhet"/>
            <xs:enumeration value="sakSaksansvarlig"/>

            <xs:enumeration value="mappeKlasseKlassifikasjonssystem"/>
            <xs:enumeration value="mappeKlasseKlasseID"/>
            <xs:enumeration value="mappeKlasseTittel"/>
            <xs:enumeration value="mappeKlasseBeskrivelse"/>

            <xs:enumeration value="mappePartPartNavn"/>
            <xs:enumeration value="mappePartPartRolle"/>
            <xs:enumeration value="mappePartPostadresse"/>
            <xs:enumeration value="mappePartPostnummer"/>
            <xs:enumeration value="mappePartPoststed"/>
            <xs:enumeration value="mappePartEpostadresse"/>

            <xs:enumeration value="mappeSkjermingTilgangsrestriksjon"/>
            <xs:enumeration value="mappeSkjermingSkjermingshjemmel"/>
            <xs:enumeration value="mappeSkjermingSkjermingsvarighet"/>
            <xs:enumeration value="mappeSkjermingSkjermingOpphoererDato"/>

            <xs:enumeration value="sakMatrikkelnummerKommunenummer"/>
            <xs:enumeration value="sakMatrikkelnummerGaardsnummer"/>
            <xs:enumeration value="sakMatrikkelnummerBruksnummer"/>
            <xs:enumeration value="sakMatrikkelnummerFestenummer"/>
            <xs:enumeration value="sakMatrikkelnummerSeksjonsnummer"/>

            <xs:enumeration value="sakByggidentBygningsnummer"/>
            <xs:enumeration value="sakByggidentEndringsloepenummer"/>

            <xs:enumeration value="sakPlanidentStatLandkode"/>
            <xs:enumeration value="sakPlanidentFylkeFylkesnummer"/>
            <xs:enumeration value="sakPlanidentKommuneKommunenummer"/>
            <xs:enumeration value="sakPlanidentPlanidentifikasjon"/>

            <xs:enumeration value="sakPartOrganisasjonsid"/>
            <xs:enumeration value="sakPartPersonid"/>

            <xs:enumeration value="sakPunktX"/>
            <xs:enumeration value="sakPunktY"/>
            <xs:enumeration value="sakPunktZ"/>

            <xs:enumeration value="registreringEksternId"/>
            <xs:enumeration value="registreringOpprettetDato"/>
            <xs:enumeration value="registreringTittel"/>
            <xs:enumeration value="registreringAdministrativenhet"/>
            <xs:enumeration value="registreringJournalpostansvarlig"/>
            <xs:enumeration value="registreringEndretFoerDato"/>
            <xs:enumeration value="registreringEndretEtterDato"/>

            <xs:enumeration value="registreringPartPartNavn"/>
            <xs:enumeration value="registreringPartPartRolle"/>
            <xs:enumeration value="registreringPartPostadresse"/>
            <xs:enumeration value="registreringPartPostnummer"/>
            <xs:enumeration value="registreringPartPoststed"/>
            <xs:enumeration value="registreringPartEpostadresse"/>

            <xs:enumeration value="registreringSkjermingTilgangsrestriksjon"/>
            <xs:enumeration value="registreringSkjermingSkjermingshjemmel"/>
            <xs:enumeration value="registreringSkjermingSkjermingsvarighet"/>
            <xs:enumeration value="registreringSkjermingSkjermingOpphoererDato"/>

            <xs:enumeration value="journalpostJournalaar"/>
            <xs:enumeration value="journalpostJournalsekvensnummer"/>
            <xs:enumeration value="journalpostSaksaar"/>
            <xs:enumeration value="journalpostSakssekvensnummer"/>
            <xs:enumeration value="journalpostJournalpostnummer"/>
            <xs:enumeration value="journalpostJournalposttype"/>
            <xs:enumeration value="journalpostJournalstatus"/>
            <xs:enumeration value="journalpostJournaldato"/>
            <xs:enumeration value="journalpostDokumentetsdato"/>
            <xs:enumeration value="journalpostForfallsdato"/>

            <xs:enumeration value="dokumentbeskrivelseEksternId"/>
            <xs:enumeration value="dokumentbeskrivelseOpprettetDato"/>
            <xs:enumeration value="dokumentbeskrivelseTittel"/>
            <xs:enumeration value="dokumentbeskrivelseDokumenttype"/>
            <xs:enumeration value="dokumentbeskrivelseDokumentstatus"/>

            <xs:enumeration value="dokumentbeskrivelseSkjermingTilgangsrestriksjon"/>
            <xs:enumeration value="dokumentbeskrivelseSkjermingSkjermingshjemmel"/>
            <xs:enumeration value="dokumentbeskrivelseSkjermingSkjermingsvarighet"/>
            <xs:enumeration value="dokumentbeskrivelseSkjermingSkjermingOpphoererDato"/>

        </xs:restriction>
    </xs:simpleType>

    <!-- The respons is strict, meaning that the result should return the exact type set here. E.g. when set to mappe it should only return mappe in resultList -->
    <xs:complexType name="respons">
        
    </xs:complexType>

    <xs:complexType name="mappeRespons">
        <xs:complexContent>
            <xs:extension base="respons">
                <xs:sequence>
                    <xs:element name="inkluder" type="inkluderIMappe"/>
                </xs:sequence> 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="saksmappeRespons">
        <xs:complexContent>
            <xs:extension base="respons">
                <xs:sequence>
                    <xs:element name="inkluder" type="inkluderISaksmappe"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="registreringRespons">
        <xs:complexContent>
            <xs:extension base="respons">
                <xs:sequence>
                    <xs:element name="inkluder" type="inkluderIRegistrering"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="journalpostRespons">
        <xs:complexContent>
            <xs:extension base="respons">
                <xs:sequence>
                    <xs:element name="inkluder" type="inkluderIJournalpost"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dokumentbeskrivelseRespons">
        <xs:complexContent>
            <xs:extension base="respons">
                <xs:sequence>
                    <xs:element name="inkluder" type="inkluderIDokumentbeskrivelse"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="inkluder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe"/>
            <xs:enumeration value="registrering"/>
            <xs:enumeration value="klasse"/>
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
            <xs:enumeration value="presedens"/>
            <xs:enumeration value="moetedeltaker"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
            <xs:enumeration value="korrespondansepart"/>
            <xs:enumeration value="avskrivning"/>
            <xs:enumeration value="dokumentflyt"/>
            <xs:enumeration value="dokumentobjekt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="inkluderIMappe">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe"/>
            <xs:enumeration value="registrering"/>
            <xs:enumeration value="klasse"/>
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
            <xs:enumeration value="presedens"/>
            <xs:enumeration value="moetedeltaker"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
            <xs:enumeration value="korrespondansepart"/>
            <xs:enumeration value="avskrivning"/>
            <xs:enumeration value="dokumentflyt"/>
            <xs:enumeration value="dokumentobjekt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="inkluderISaksmappe">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe"/>
            <xs:enumeration value="registrering"/>
            <xs:enumeration value="klasse"/>
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
            <xs:enumeration value="presedens"/>
            <xs:enumeration value="moetedeltaker"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
            <xs:enumeration value="korrespondansepart"/>
            <xs:enumeration value="avskrivning"/>
            <xs:enumeration value="dokumentflyt"/>
            <xs:enumeration value="dokumentobjekt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="inkluderIRegistrering">
        <xs:restriction base="xs:string">
            <xs:enumeration value="klasse"/>
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
            <xs:enumeration value="presedens"/>
            <xs:enumeration value="moetedeltaker"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
            <xs:enumeration value="korrespondansepart"/>
            <xs:enumeration value="avskrivning"/>
            <xs:enumeration value="dokumentflyt"/>
            <xs:enumeration value="dokumentobjekt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="inkluderIJournalpost">
        <xs:restriction base="xs:string">
            <xs:enumeration value="klasse"/>
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
            <xs:enumeration value="presedens"/>
            <xs:enumeration value="moetedeltaker"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
            <xs:enumeration value="korrespondansepart"/>
            <xs:enumeration value="avskrivning"/>
            <xs:enumeration value="dokumentflyt"/>
            <xs:enumeration value="dokumentobjekt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="inkluderIDokumentbeskrivelse">
        <xs:restriction base="xs:string">
            <xs:enumeration value="korrespondansepart"/>
            <xs:enumeration value="avskrivning"/>
            <xs:enumeration value="dokumentflyt"/>
            <xs:enumeration value="dokumentobjekt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="sortering">
        <xs:sequence>
            <xs:element name="felt" type="sorteringFelt"/>
            <xs:element name="type" type="sorteringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="sorteringType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="synkende"/>
            <xs:enumeration value="stigende"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sorteringFelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappeOpprettetDato"/>
            <xs:enumeration value="sakSaksaar-saksekvensnummer"/>
            <xs:enumeration value="registreringOpprettetDato"/>
            <xs:enumeration value="journalpostJournaldato"/>
            <xs:enumeration value="journalpostJournalaar-journalsekvensnummer"/>
            <xs:enumeration value="journalpostJournalpostnummer"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

