Schema/V1/no.ks.fiks.arkiv.v1.innsyn.sok.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sok/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:n5mdk="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/metadatakatalog/v1"
           xmlns:arkivstruktur="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/v1"
           targetNamespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/sok/v1" elementFormDefault="qualified">

    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/arkivstruktur/v1"
               schemaLocation="./arkivstruktur.xsd"/>
    <xs:import namespace="https://ks-no.github.io/standarder/fiks-protokoll/fiks-arkiv/metadatakatalog/v1"
               schemaLocation="./metadatakatalog.xsd"/>

    <xs:annotation>
        <xs:documentation>
            This is connected to the 'no.ks.fiks.arkiv.v1.innsyn.sok' message.
            Use this messagetype for search.
        </xs:documentation>
    </xs:annotation>
    
    <xs:element name="sok" type="sok"/>

    <xs:complexType name="sok">
        <xs:annotation>
            <xs:documentation>
                The optional "spraak" value must be a ISO 639-1 code. If "spraak" is not set, default language is a configuration choice in the archive. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="system" type="xs:string"/>
            <xs:element name="take" type="xs:int"/>
            <xs:element name="skip" type="xs:int"/>
            <xs:element name="sokdefinisjon" type="sokdefinisjon"/>
            <xs:element name="spraak" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sokdefinisjon" abstract="true">
        <xs:sequence>
            <xs:element name="responstype" type="arkivstruktur:responstype" default="minimum"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mappeSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="mappeInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="parametere" type="mappeParameter" maxOccurs="unbounded"/>
                    <xs:element name="sortering" type="mappeSortering" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="mappeFritekstSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="mappeInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="soketekst" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="saksmappeSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="saksmappeInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="parametere" type="saksmappeParameter" maxOccurs="unbounded"/>
                    <xs:element name="sortering" type="saksmappeSortering" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="saksmappeFritekstSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="saksmappeInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="soketekst" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="registreringSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="registreringInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="parametere" type="registreringParameter" maxOccurs="unbounded"/>
                    <xs:element name="sortering" type="registreringSortering" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="registreringFritekstSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="registreringInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="soketekst" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="journalpostSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="journalpostInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="parametere" type="journalpostParameter" maxOccurs="unbounded"/>
                    <xs:element name="sortering" type="journalpostSortering" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="journalpostFritekstSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="journalpostInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="soketekst" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="journalpostMedSaksmappeSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="journalpostInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="parametere" type="journalpostParameter" maxOccurs="unbounded"/>
                    <xs:element name="sortering" type="journalpostSortering" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="journalpostMedSaksmappeFritekstSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="journalpostInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="soketekst" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dokumentbeskrivelseSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="dokumentbeskrivelseInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="parametere" type="dokumentbeskrivelseParameter" maxOccurs="unbounded"/>
                    <xs:element name="sortering" type="dokumentbeskrivelseSortering" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dokumentbeskrivelseFritekstSokdefinisjon">
        <xs:complexContent>
            <xs:extension base="sokdefinisjon">
                <xs:sequence>
                    <xs:element name="inkluder" type="dokumentbeskrivelseInkluder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="soketekst" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="parameter" abstract="true">
        <xs:sequence>
            <xs:element name="operator" type="operatorType"/>
            <xs:element name="sokVerdier" type="sokVerdier"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mappeParameter">
        <xs:complexContent>
            <xs:extension base="parameter">
                <xs:sequence>
                    <xs:element name="felt" type="mappeSokefelt"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="saksmappeParameter">
        <xs:complexContent>
            <xs:extension base="parameter">
                <xs:sequence>
                    <xs:element name="felt" type="saksmappeSokefelt"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="registreringParameter">
        <xs:complexContent>
            <xs:extension base="parameter">
                <xs:sequence>
                    <xs:element name="felt" type="registreringSokefelt"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="journalpostParameter">
        <xs:complexContent>
            <xs:extension base="parameter">
                <xs:sequence>
                    <xs:element name="felt" type="journalpostSokefelt"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dokumentbeskrivelseParameter">
        <xs:complexContent>
            <xs:extension base="parameter">
                <xs:sequence>
                    <xs:element name="felt" type="dokumentbeskrivelseSokefelt"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="sokVerdier">
        <xs:choice minOccurs="0">
            <xs:element name="stringvalues" type="stringvalues"/>
            <xs:element name="datevalues" type="datevalues"/>
            <xs:element name="intvalues" type="intvalues"/>
            <xs:element name="eksternNoekkel" type="eksternNoekkel"/>
            <xs:element name="klassifikasjonvalues" type="klassifikasjonvalues"/>
            <xs:element name="bbox" type="bbox"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="stringvalues">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="datevalues">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="intvalues">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="klassifikasjonvalues">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="klassifikasjonssystemID" type="xs:string" minOccurs="0"/>
            <xs:element name="klasseID" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="eksternNoekkel">
        <xs:sequence>
            <xs:element name="fagsystem" type="xs:string"/>
            <xs:element name="noekkel" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="operatorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="equal"/>
            <xs:enumeration value="notequal"/>
            <xs:enumeration value="between"/>
            <xs:enumeration value="lessthan"/>
            <xs:enumeration value="lessequal"/>
            <xs:enumeration value="greaterthan"/>
            <xs:enumeration value="greaterequal"/>
            <xs:enumeration value="inlist"/>
            <xs:enumeration value="wildcardquery"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="mappeSokefelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappeEksternNoekkel"/>
            <xs:enumeration value="mappeTittel"/>
            <xs:enumeration value="mappeOpprettetDato"/>
            <xs:enumeration value="mappeBeskrivelse"/>
            <xs:enumeration value="mappeNoekkelord"/>
            <xs:enumeration value="mappeAvsluttetDato"/>
            <xs:enumeration value="mappeArkivdel"/>
            <xs:enumeration value="mappeEndretDato"/>
            <xs:enumeration value="mappeMappetype"/>
    
            <xs:enumeration value="mappeKlasseKlassifikasjonssystemID"/>
            <xs:enumeration value="mappeKlasseKlasseID"/>
            <xs:enumeration value="mappeKlasseTittel"/>
            <xs:enumeration value="mappeKlasseBeskrivelse"/>
    
            <xs:enumeration value="mappePartPartNavn"/>
            <xs:enumeration value="mappePartPartRolle"/>
            <xs:enumeration value="mappePartPostadresse"/>
            <xs:enumeration value="mappePartPostnummer"/>
            <xs:enumeration value="mappePartPoststed"/>
            <xs:enumeration value="mappePartEpostadresse"/>
    
            <xs:enumeration value="mappeSkjermingTilgangsrestriksjon"/>
            <xs:enumeration value="mappeSkjermingSkjermingshjemmel"/>
            <xs:enumeration value="mappeSkjermingSkjermingsvarighet"/>
            <xs:enumeration value="mappeSkjermingSkjermingOpphoererDato"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="saksmappeSokefelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappeEksternNoekkel"/>
            <xs:enumeration value="mappeTittel"/>
            <xs:enumeration value="mappeOpprettetDato"/>
            <xs:enumeration value="mappeBeskrivelse"/>
            <xs:enumeration value="mappeNoekkelord"/>
            <xs:enumeration value="mappeAvsluttetDato"/>
            <xs:enumeration value="mappeArkivdel"/>
            <xs:enumeration value="mappeEndretDato"/>
            <xs:enumeration value="mappeMappetype"/>

            <xs:enumeration value="mappeKlasseKlassifikasjonssystemID"/>
            <xs:enumeration value="mappeKlasseKlasseID"/>
            <xs:enumeration value="mappeKlasseTittel"/>
            <xs:enumeration value="mappeKlasseBeskrivelse"/>

            <xs:enumeration value="mappePartPartNavn"/>
            <xs:enumeration value="mappePartPartRolle"/>
            <xs:enumeration value="mappePartPostadresse"/>
            <xs:enumeration value="mappePartPostnummer"/>
            <xs:enumeration value="mappePartPoststed"/>
            <xs:enumeration value="mappePartEpostadresse"/>

            <xs:enumeration value="mappeSkjermingTilgangsrestriksjon"/>
            <xs:enumeration value="mappeSkjermingSkjermingshjemmel"/>
            <xs:enumeration value="mappeSkjermingSkjermingsvarighet"/>
            <xs:enumeration value="mappeSkjermingSkjermingOpphoererDato"/>
            
            <xs:enumeration value="sakSaksdato"/>
            <xs:enumeration value="sakSaksaar"/>
            <xs:enumeration value="sakSaksekvensnummer"/>
            <xs:enumeration value="sakSaksstatus"/>
            <xs:enumeration value="sakAdministrativenhet"/>
            <xs:enumeration value="sakSaksansvarlig"/>

            <xs:enumeration value="sakMatrikkelnummerKommunenummer"/>
            <xs:enumeration value="sakMatrikkelnummerGaardsnummer"/>
            <xs:enumeration value="sakMatrikkelnummerBruksnummer"/>
            <xs:enumeration value="sakMatrikkelnummerFestenummer"/>
            <xs:enumeration value="sakMatrikkelnummerSeksjonsnummer"/>

            <xs:enumeration value="sakByggidentBygningsnummer"/>
            <xs:enumeration value="sakByggidentEndringsloepenummer"/>

            <xs:enumeration value="sakPlanidentStatLandkode"/>
            <xs:enumeration value="sakPlanidentFylkeFylkesnummer"/>
            <xs:enumeration value="sakPlanidentKommuneKommunenummer"/>
            <xs:enumeration value="sakPlanidentPlanidentifikasjon"/>

            <xs:enumeration value="sakPartOrganisasjonsid"/>
            <xs:enumeration value="sakPartPersonid"/>

            <xs:enumeration value="sakBbox"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="registreringSokefelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="registreringEksternId"/>
            <xs:enumeration value="registreringOpprettetDato"/>
            <xs:enumeration value="registreringTittel"/>
            <xs:enumeration value="registreringAdministrativenhet"/>
            <xs:enumeration value="registreringJournalpostansvarlig"/>
            <xs:enumeration value="registreringEndretDato"/>

            <xs:enumeration value="registreringPartPartNavn"/>
            <xs:enumeration value="registreringPartPartRolle"/>
            <xs:enumeration value="registreringPartPostadresse"/>
            <xs:enumeration value="registreringPartPostnummer"/>
            <xs:enumeration value="registreringPartPoststed"/>
            <xs:enumeration value="registreringPartEpostadresse"/>

            <xs:enumeration value="registreringSkjermingTilgangsrestriksjon"/>
            <xs:enumeration value="registreringSkjermingSkjermingshjemmel"/>
            <xs:enumeration value="registreringSkjermingSkjermingsvarighet"/>
            <xs:enumeration value="registreringSkjermingSkjermingOpphoererDato"/>
        </xs:restriction>
    </xs:simpleType>    
    
    <xs:simpleType name="journalpostSokefelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="registreringEksternId"/>
            <xs:enumeration value="registreringOpprettetDato"/>
            <xs:enumeration value="registreringTittel"/>
            <xs:enumeration value="registreringAdministrativenhet"/>
            <xs:enumeration value="registreringJournalpostansvarlig"/>
            <xs:enumeration value="registreringEndretDato"/>

            <xs:enumeration value="registreringPartPartNavn"/>
            <xs:enumeration value="registreringPartPartRolle"/>
            <xs:enumeration value="registreringPartPostadresse"/>
            <xs:enumeration value="registreringPartPostnummer"/>
            <xs:enumeration value="registreringPartPoststed"/>
            <xs:enumeration value="registreringPartEpostadresse"/>

            <xs:enumeration value="registreringSkjermingTilgangsrestriksjon"/>
            <xs:enumeration value="registreringSkjermingSkjermingshjemmel"/>
            <xs:enumeration value="registreringSkjermingSkjermingsvarighet"/>
            <xs:enumeration value="registreringSkjermingSkjermingOpphoererDato"/>
            
            <xs:enumeration value="journalpostJournalaar"/>
            <xs:enumeration value="journalpostJournalsekvensnummer"/>
            <xs:enumeration value="journalpostSaksaar"/>
            <xs:enumeration value="journalpostSakssekvensnummer"/>
            <xs:enumeration value="journalpostJournalpostnummer"/>
            <xs:enumeration value="journalpostJournalposttype"/>
            <xs:enumeration value="journalpostJournalstatus"/>
            <xs:enumeration value="journalpostJournaldato"/>
            <xs:enumeration value="journalpostDokumentetsdato"/>
            <xs:enumeration value="journalpostForfallsdato"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dokumentbeskrivelseSokefelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="dokumentbeskrivelseEksternId"/>
            <xs:enumeration value="dokumentbeskrivelseOpprettetDato"/>
            <xs:enumeration value="dokumentbeskrivelseTittel"/>
            <xs:enumeration value="dokumentbeskrivelseDokumenttype"/>
            <xs:enumeration value="dokumentbeskrivelseDokumentstatus"/>

            <xs:enumeration value="dokumentbeskrivelseSkjermingTilgangsrestriksjon"/>
            <xs:enumeration value="dokumentbeskrivelseSkjermingSkjermingshjemmel"/>
            <xs:enumeration value="dokumentbeskrivelseSkjermingSkjermingsvarighet"/>
            <xs:enumeration value="dokumentbeskrivelseSkjermingSkjermingOpphoererDato"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="bbox">
        <xs:sequence>
            <xs:element name="koordinatsystem" type="n5mdk:koordinatsystem"/>
            <xs:element name="nedreVenstre" type="bboxKoordinater"/>
            <xs:element name="oevreHoeyre" type="bboxKoordinater"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bboxKoordinater">
        <xs:sequence>
            <xs:element name="x" type="n5mdk:x"/>
            <xs:element name="y" type="n5mdk:y"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="mappeInkluder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="saksmappeInkluder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
            <xs:enumeration value="presedens"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="registreringInkluder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
            <xs:enumeration value="korrespondansepart"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="journalpostInkluder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
            <xs:enumeration value="korrespondansepart"/>
            <xs:enumeration value="avskrivning"/>
            <xs:enumeration value="dokumentflyt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dokumentbeskrivelseInkluder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="dokumentobjekt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="mappeSortering">
        <xs:sequence>
            <xs:element name="felt" type="mappeSorteringsfelt"/>
            <xs:element name="type" type="sorteringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="saksmappeSortering">
        <xs:sequence>
            <xs:element name="felt" type="saksmappeSorteringsfelt"/>
            <xs:element name="type" type="sorteringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="registreringSortering">
        <xs:sequence>
            <xs:element name="felt" type="registreringSorteringsfelt"/>
            <xs:element name="type" type="sorteringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="journalpostSortering">
        <xs:sequence>
            <xs:element name="felt" type="journalpostSorteringsfelt"/>
            <xs:element name="type" type="sorteringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dokumentbeskrivelseSortering">
        <xs:sequence>
            <xs:element name="felt" type="dokumentbeskrivelseSorteringsfelt"/>
            <xs:element name="type" type="sorteringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="sorteringType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="synkende"/>
            <xs:enumeration value="stigende"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="mappeSorteringsfelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappeOpprettetDato"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="saksmappeSorteringsfelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappeOpprettetDato"/>
            <xs:enumeration value="sakSaksaar-saksekvensnummer"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="registreringSorteringsfelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="registreringOpprettetDato"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="journalpostSorteringsfelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="registreringOpprettetDato"/>
            <xs:enumeration value="journalpostJournaldato"/>
            <xs:enumeration value="journalpostJournalaar-journalsekvensnummer"/>
            <xs:enumeration value="journalpostJournalpostnummer"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dokumentbeskrivelseSorteringsfelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="opprettetDato"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

