Schema/V1/sok.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.ks.no/standarder/fiks/arkiv/sok/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:arkivstruktur="http://www.arkivverket.no/standarder/noark5/arkivstruktur"
           targetNamespace="http://www.ks.no/standarder/fiks/arkiv/sok/v1" elementFormDefault="qualified">

    <xs:import namespace="http://www.arkivverket.no/standarder/noark5/arkivstruktur"
               schemaLocation="./arkivstruktur.xsd"/>
    <xs:element name="sok" type="sok"/>

    <xs:complexType name="sok">
        <xs:sequence>
            <xs:element name="system" type="xs:string"/>
            <xs:element name="meldingId" type="xs:string"/>
            <xs:element name="tidspunkt" type="xs:dateTime"/>
            <xs:element name="take" type="xs:int"/>
            <xs:element name="skip" type="xs:int"/>
            <xs:element name="respons" type="respons"/>
            <xs:element name="parameter" type="parameter" maxOccurs="unbounded"/>
            <xs:element name="responsType" type="arkivstruktur:responsType" default="minimum"/>
            <xs:element name="inkluder" type="inkluder" minOccurs="0"/>
            <xs:element name="sortering" type="sortering" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parameter">
        <xs:sequence>
            <xs:element name="felt" type="sokFelt"/>
            <xs:element name="operator" type="operatorType"/>
            <xs:element name="parameterverdier" type="parameterverdier"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parameterverdier">
        <xs:choice minOccurs="0">
            <xs:element name="stringvalues" type="stringvalues"/>
            <xs:element name="datevalues" type="datevalues"/>
            <xs:element name="intvalues" type="intvalues"/>
            <xs:element name="eksternId" type="eksternId"/>
            <xs:element name="klassifikasjonvalues" type="klassifikasjonvalues"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="stringvalues">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="datevalues">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="intvalues">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="klassifikasjonvalues">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="klassifikasjonssystem" type="xs:string" minOccurs="0"/>
            <xs:element name="klasse" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="eksternId">
        <xs:sequence>
            <xs:element name="system" type="xs:string"/>
            <xs:element name="id" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="operatorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="equal"/>
            <xs:enumeration value="notequal"/>
            <xs:enumeration value="between"/>
            <xs:enumeration value="lessthan"/>
            <xs:enumeration value="lessequal"/>
            <xs:enumeration value="greaterthan"/>
            <xs:enumeration value="greaterequal"/>
            <xs:enumeration value="inlist"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sokFelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe.eksternId"/>
            <xs:enumeration value="mappe.tittel"/>
            <xs:enumeration value="mappe.opprettetDato"/>
            <xs:enumeration value="mappe.beskrivelse"/>
            <xs:enumeration value="mappe.noekkelord"/>
            <xs:enumeration value="mappe.avsluttetDato"/>
            <xs:enumeration value="mappe.referansearkivdel"/>
            <xs:enumeration value="mappe.endretFoerDato"/>
            <xs:enumeration value="mappe.endretEtterDato"/>

            <xs:enumeration value="sak.saksdato"/>
            <xs:enumeration value="sak.saksaar"/>
            <xs:enumeration value="sak.saksekvensnummer"/>
            <xs:enumeration value="sak.saksstatus"/>
            <xs:enumeration value="sak.administrativenhet"/>
            <xs:enumeration value="sak.saksansvarlig"/>

            <xs:enumeration value="mappe.klasse.klassifikasjonssystem"/>
            <xs:enumeration value="mappe.klasse.klasseID"/>
            <xs:enumeration value="mappe.klasse.tittel"/>
            <xs:enumeration value="mappe.klasse.beskrivelse"/>

            <xs:enumeration value="mappe.part.partNavn"/>
            <xs:enumeration value="mappe.part.partRolle"/>
            <xs:enumeration value="mappe.part.postadresse"/>
            <xs:enumeration value="mappe.part.postnummer"/>
            <xs:enumeration value="mappe.part.poststed"/>
            <xs:enumeration value="mappe.part.epostadresse"/>

            <xs:enumeration value="mappe.skjerming.tilgangsrestriksjon"/>
            <xs:enumeration value="mappe.skjerming.skjermingshjemmel"/>
            <xs:enumeration value="mappe.skjerming.skjermingsvarighet"/>
            <xs:enumeration value="mappe.skjerming.skjermingOpphoererDato"/>

            <xs:enumeration value="sak.matrikkelnummer.kommunenummer"/>
            <xs:enumeration value="sak.matrikkelnummer.gaardsnummer"/>
            <xs:enumeration value="sak.matrikkelnummer.bruksnummer"/>
            <xs:enumeration value="sak.matrikkelnummer.festenummer"/>
            <xs:enumeration value="sak.matrikkelnummer.seksjonsnummer"/>

            <xs:enumeration value="sak.byggident.bygningsnummer"/>
            <xs:enumeration value="sak.byggident.endringsloepenummer"/>

            <xs:enumeration value="sak.planident.stat.landkode"/>
            <xs:enumeration value="sak.planident.fylke.fylkesnummer"/>
            <xs:enumeration value="sak.planident.kommune.kommunenummer"/>
            <xs:enumeration value="sak.planident.planidentifikasjon"/>

            <xs:enumeration value="sak.part.organisasjonsid"/>
            <xs:enumeration value="sak.part.personid"/>

            <xs:enumeration value="sak.punkt.x"/>
            <xs:enumeration value="sak.punkt.y"/>
            <xs:enumeration value="sak.punkt.z"/>

            <xs:enumeration value="registrering.eksternId"/>
            <xs:enumeration value="registrering.opprettetDato"/>
            <xs:enumeration value="registrering.tittel"/>
            <xs:enumeration value="registrering.administrativenhet"/>
            <xs:enumeration value="registrering.journalpostansvarlig"/>
            <xs:enumeration value="registrering.endretFoerDato"/>
            <xs:enumeration value="registrering.endretEtterDato"/>

            <xs:enumeration value="registrering.part.partNavn"/>
            <xs:enumeration value="registrering.part.partRolle"/>
            <xs:enumeration value="registrering.part.postadresse"/>
            <xs:enumeration value="registrering.part.postnummer"/>
            <xs:enumeration value="registrering.part.poststed"/>
            <xs:enumeration value="registrering.part.epostadresse"/>

            <xs:enumeration value="registrering.skjerming.tilgangsrestriksjon"/>
            <xs:enumeration value="registrering.skjerming.skjermingshjemmel"/>
            <xs:enumeration value="registrering.skjerming.skjermingsvarighet"/>
            <xs:enumeration value="registrering.skjerming.skjermingOpphoererDato"/>

            <xs:enumeration value="journalpost.journalaar"/>
            <xs:enumeration value="journalpost.journalsekvensnummer"/>
            <xs:enumeration value="journalpost.saksaar"/>
            <xs:enumeration value="journalpost.sakssekvensnummer"/>
            <xs:enumeration value="journalpost.journalpostnummer"/>
            <xs:enumeration value="journalpost.journalposttype"/>
            <xs:enumeration value="journalpost.journalstatus"/>
            <xs:enumeration value="journalpost.journaldato"/>
            <xs:enumeration value="journalpost.dokumentetsdato"/>
            <xs:enumeration value="journalpost.forfallsdato"/>

            <xs:enumeration value="dokumentbeskrivelse.eksternId"/>
            <xs:enumeration value="dokumentbeskrivelse.opprettetDato"/>
            <xs:enumeration value="dokumentbeskrivelse.tittel"/>
            <xs:enumeration value="dokumentbeskrivelse.dokumenttype"/>
            <xs:enumeration value="dokumentbeskrivelse.dokumentstatus"/>

            <xs:enumeration value="dokumentbeskrivelse.skjerming.tilgangsrestriksjon"/>
            <xs:enumeration value="dokumentbeskrivelse.skjerming.skjermingshjemmel"/>
            <xs:enumeration value="dokumentbeskrivelse.skjerming.skjermingsvarighet"/>
            <xs:enumeration value="dokumentbeskrivelse.skjerming.skjermingOpphoererDato"/>

        </xs:restriction>
    </xs:simpleType>

    <!-- The respons is strict, meaning that the result should return the exact type set here. E.g. when set to mappe it should only return mappe in resultList -->
    <xs:simpleType name="respons">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe"/>
            <xs:enumeration value="saksmappe"/>
            <xs:enumeration value="registrering"/>
            <xs:enumeration value="journalpost"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="inkluder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe"/>
            <xs:enumeration value="registrering"/>
            <xs:enumeration value="klasse"/>
            <xs:enumeration value="noekkelord"/>
            <xs:enumeration value="kryssreferanse"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="merknad"/>
            <xs:enumeration value="presedens"/>
            <xs:enumeration value="moetedeltaker"/>
            <xs:enumeration value="dokumentbeskrivelse"/>
            <xs:enumeration value="korrespondansepart"/>
            <xs:enumeration value="avskrivning"/>
            <xs:enumeration value="dokumentflyt"/>
            <xs:enumeration value="dokumentobjekt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="sortering">
        <xs:sequence>
            <xs:element name="felt" type="sorteringFelt"/>
            <xs:element name="type" type="sorteringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="sorteringType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="synkende"/>
            <xs:enumeration value="stigende"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sorteringFelt">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mappe.opprettetDato"/>
            <xs:enumeration value="sak.saksaar-saksekvensnummer"/>
            <xs:enumeration value="registrering.opprettetDato"/>
            <xs:enumeration value="journalpost.journaldato"/>
            <xs:enumeration value="journalpost.journalaar-journalsekvensnummer"/>
            <xs:enumeration value="journalpost.journalpostnummer"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

